body {
    font-family: $main-font;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
// Main styles
.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.white{
    background-color:rgba(255, 255, 255, 1);
    transition: ease-in-out 0.5s;
}

.blue{
    background: $color-blue;
    left: 5vw;
    top: 7vw;
}

.purple{
    background: $color-purple;
    right: 8vw;
    bottom: 10vw;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-title{
    font-family: $main-font;
    font-size: 22px;
    color: $color-dark-blue;
}

.h2{
    &__title{
        font-size: 44px;
        color: $color-dark-blue;
        font-family: $main-font;
        font-weight: bold;
    }
}

.text{
    font-family: $sub-font;
    font-size: 18px;
    color: $color-dark-blue;
}

.button{
    font-family: $main-font;
    color: $color-dark-blue;
    font-size: 14px;
    padding: 16px 41px;
    background: none;
    border: 1px solid $color-black;
    border-radius: 0;
    border-style: solid;
    cursor: pointer;
}

.line{
    width: 100px;
    height: 1px;
    margin-bottom: 30px;
}

.logo{
    max-width: 241px;
    max-height: 54px;
}

.error{
    border: 1px solid palevioletred !important;
}

.black{
    background: black;
    color: white;
}

// MODAL
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50vw;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
    z-index: 999;
    padding: 40px;
    display: none;

    &__container{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        display: none;
    }

    &__close{
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
    }
}