.footer{
  background-image: url("/img/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 203px 0 234px 0;

  &__container{
    max-width: 770px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__logo{
    margin: 0 0 40px 0;
  }

  &__social{
      margin-left: auto;
  }

  &__copy{
    color: white;
  }
}