.form{
  max-width: 770px;
  margin: 0 auto;
  padding: 60px;
  background: white;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.fieldset{
  border: none;
}