// Header Styles
.header{
  position: relative;
  margin: 0 auto 100px;

  &__title{
    font-size: 80px;
    color: white;
    font-weight: 700;
  }
  &__sub-title{
    font-size: 18px;
    color: white;
    font-weight: 400;
  }
}

// Menu styles
.nav{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  padding: 53px 0 0 0;
  align-items: center;

  &__logo{
    max-width: 241px;
    max-height: 54px;
  }
}

.menu{
  display: flex;
  gap: 70px;

  &__item{
    font-family: $sub-font;
    font-size: 14px;
    color: white;
  }
}

// Social
.social{
  display: flex;
  gap: 20px;

  &__item{
    display: flex;
    border: 1px solid white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

.fa-brands{
  display: block;
}

// Swiper slider style
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__titles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px,-50%,0);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background: white;
}

span.swiper-pagination-bullet {
  background: none;
  border: 1px solid white;
  opacity: 100%;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
  right: 52px;
}